div {
position: absolute;
width: 20em;
height: 12em;
background-color: #cb60b3;
border-radius: 40em 2em 40em 2em;
-moz-border-radius: 40em 2em 40em 2em;
-webkit-border-radius: 40em 2em 40em 2em;
-ms-border-radius: 40em 2em 40em 2em;
}